html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, user-scalable=no")

        title!= title
        link(href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    body   
        div.title-bar
            div.top-bar-left
                h1 
                    i.fa.fa-line-chart 
                    span Stock watcher
        section.row
            div.small-12.small-centered.columns
                form#searchStockForm
                    div.row
                        div.medium-6.medium-offset-3.small-12.columns
                            div.input-group
                                input.input-group-field(type="text", placeholder="Search Stock")
                                div.input-group-button
                                    input.button#searchStockButton(type="submit", value="Search")   
                                div.input-group-button
                                    a.button.success
                                        i.fa.fa-refresh
        section.row
            div.medium-8.medium-centered.small-12.small-centered.columns
                div.card-container

                
                    div.card
                        div.card-divider
                            div.row
                                div.small-8.medium-10.columns
                                    h3.stock-title title
                                    div
                                        span.price-container price
                                        div.date-container Last updated:
                                            span.date date
                                div.small-4.medium-2.columns
                                    div.float-right
                                        a.button.alert
                                            i.fa.fa-trash-o
        
    script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
    script(src="/scripts/index.js") 
