html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, user-scalable=no")

        title!= title
        link(href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
        link(href="/stylesheets/styles.css", rel="stylesheet")
    body   
        nav.top-bar
            div.top-bar-left
                h2 Stock
                    strong Watcher
                div.credits 
                    a(href="https://www.github.com/ricsasa", target="_blank") by Ricardo Sanchez S
        section.row
            div.small-12.columns
                form#searchStockForm
                    div.row
                        div.medium-10.medium-centered.small-12.columns
                            div.input-group
                                input.input-group-field(type="text", placeholder="Search Stock")
                                div.input-group-button
                                    input.button#searchStockButton(type="submit", value="Search")   
                div.row
                    div.medium-4.medium-offset-4.small-12.columns                            
                        a.button.success.float-center#refreshAll
                            span Refresh all Stocks &nbsp;
                                i.fa.fa-refresh
        section.row.small-up-2.medium-up-3.large-up-4#card-container
            template#card-template
                div.column.column-block
                    div.card
                        div.card-sections
                            div.row
                                div.small-8.small-offset-2.medium-10.medium-offset-1.columns
                                    h3.stock-title {{symbol}}
                                    div
                                        div.price-container $
                                            span.price {{price}}
                                        div.date-container Updated at: &nbsp;
                                            span.date {{date}}
        div#loader.loader(style="display: none")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
        script(src="/scripts/index.js") 
